* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body {
    background: rgb(158,56,176);
    background: radial-gradient(circle, rgba(158,56,176,1) 0%, rgba(122,32,156,1) 42%, rgba(109,0,255,1) 100%);
}
textarea:focus, input:focus{
    outline: none;
  }
/* Configuração das tabs */
.nav-tabs{
    width: 629px;
    height: 450px;
    margin: 100px auto;
    background-color: #fff;
    position: relative;
}

.nav-tabs ul {
    list-style: none;
}

.nav-tabs ul li {
    float: left;
    
}

.nav-tabs .tab-label{
    padding: 15px;
    display: block;
    color: black;
    background: white;
    cursor: pointer;
    text-align: center;
}
.rd-tabs {
    display: none;
}
.rd-tabs:checked ~ .tab-label {
    background-color: rgba(158,56,176,1);
    color: #FFF;
}
.tab-content {
    /* display: none; */
    position: absolute;
    width: 600px;
    height: 320px;
    left: 0;
    padding: 10px;
}

.rd-tabs:checked ~ .tab-content {
    display: block;
}

/* Configuração dos formulários */

form {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

label, input {
    display: block;
    width: 100%;
}

label {
    font-weight: bold;
}

input {
    border-bottom: 2px solid black;
    padding: 10px;
    font-size: .8rem;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid #7a209c;
}

select {
    width: 100px;
    padding: 5px;
    margin: 10px 0;
    font-weight: bold;
    border-bottom: 2px solid #7a209c;
}