
/* Cores: 
    paleta de cores padrão do site
        100%: #7a209c
        75%: #89609e 
        50%: #ec70e7
        25%: #ffd2f2
*/

/* Estilização do Cabeçalho */
header {
    background:  #ffd2f2;
    padding: 20px 0;
    border-bottom: 1px solid #ec70e7;
    box-sizing: border-box;
    /* position: sticky;
    top: 0; */
}

.caixa-cabecalho{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.caixa-cabecalho h1{
    color: #7a209c;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 54px;
    letter-spacing: 1px;
}

.caixa-cabecalho h1 a {
    text-decoration: none;
}

nav {
    position: absolute;
    right: 0;
    top: 15px; 
}

nav a {
    font-size: 24px;
    color: #7a209c;
    text-decoration: none;
    font-weight: bold;
}

nav li {
    display: inline;
    margin-left: 15px;
    align-items: top
}

nav a:hover {
    font-size: 23px;
    color: #7a209c;
}

.login{
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 20%;
}

.login:hover{
    font-size: 23px;
    color: #7a209c;
    border-color: #7a209c ;
}
/* Conteúdo da Página */
.apresentacao {
    padding: 10px;
}

.caixa-conteudo {
    position: relative;
    width: 700px;
    margin: 0 auto;
    text-align: justify;
}

.titulo{
    font-size: 3em;
    color: #7a209c;
    font-weight: bold;
    text-align: center;
}

.sobrenos {
    background: #FFFFFF;
    text-align: center;
    padding: 25px 0 50px;
}
.sobrenos p {
    font-size: 3em;
    text-align: justify;
    margin: 50px 0 100px;
}
.sobrenos a i {
    margin: 40px
}
.missao{
    background: #ffd2f2;
    text-align: center;
    padding: 25px 0 50px;
}

.visao {
    background: #ec70e7;
    text-align: center;
    padding: 25px 0 50px;
}

.condastro {
    width: 100%;
    display: flex;
   
}

.contratante, .freelance {
    border: 2px solid #7a209c;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin-top: 1em
}
.contratante {
    float: left;
    width: 45%;
    
}

.freelance {
    overflow: hidden;
    width: 45%;
    
}
.contratante:hover, .freelance:hover {
    font-size: +20px;
}









.mapa {
    padding: 3em 0;
    margin-left: auto;
    margin-right: auto;
}
.mapa h1 {
    font-size: 2em;
    text-align: center;
    padding: 1em 0;
}

.mapa p {
    font-size: 1.5em;
    text-align: center;
    padding: 0 0 1em;
}

.mapa-box {
    width: 1200px;
    margin: 0 auto;
}
