
:root {

    font-size: 16px;

    --background-color: #FFF;

    --primary-color-50: #f1e5f5;
    --primary-color-100: #DDBFE7;
    --primary-color-200: #C795D9;
    --primary-color-300: #B16BCA;
    --primary-color-400: #A04DBE;
    --primary-color-500: #8130AA;
    --primary-color-600: #9031B2;
    --primary-color-700: #7C2CAA;
    --primary-color-800: #6A27A1;
    --primary-color-900: #4A2092;
    
    --secondary-color-50: #f7e6f1;
    --secondary-color-100: #ebc1de;
    --secondary-color-200: #de98c9;
    --secondary-color-300: #cf6fb4;
    --secondary-color-400: #c34fa4;
    --secondary-color-500: #b82f97;
    --secondary-color-600: #ab2a91;
    --secondary-color-700: #9a228a;
    --secondary-color-800: #8b1c83;
    --secondary-color-900: #701077;

    --shadow-50: #f5f5f5;
    --shadow-100: #e9e9e9;
    --shadow-200: #d9d9d9;
    --shadow-300: #c4c4c4;
    --shadow-400: #9d9d9d;
    --shadow-500: #7b7b7b;
    --shadow-600: #555555;
    --shadow-700: #434343;
    --shadow-800: #262626;
    --shadow-900: #000000;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: var(--background-color);
}
p {
    color: var(--font-color);
}

li {
    color: var(--font-color);
}

/* Estilização do Cabeçalho */
header {
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    background:  var(--background-color);
    padding: 20px 0;
    border-bottom: 2px solid var(--primary-color-500);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 2px 10px 0px var(--shadow-400);
}

div.caixa-cabecalho{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

div.caixa-cabecalho h1 a{
    color: var(--primary-color-500);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 54px;
    letter-spacing: 1px;
    text-decoration: none;
}

nav {
    position: relative;
}

nav li {
    display: inline-block;
    margin-left: 15px;
    align-items: top
}

nav a {
    font-size: 18px;
    color: var(--primary-color-600);
    text-decoration: none;
    font-weight: bold;
    
    
}
nav li button {
   color: var(--primary-color-500);
   border: none;
   background: none;
   cursor: pointer; 
   font-size: 14px;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
}


.fa-user, .fa-user-plus  {
    margin-right: 10px;
}


/* Estilização do conteúdo main da página */
div.apresentacao {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: justify;
    margin: 100px 0;
}
div.apresentacao p {
    font-size: 18px;
}

div.content-text{
    width: 600px;
    margin-top: 40px;
    margin-left: 20px;
}

h1.titulo{
    font-size: 2.5rem;
    color: var(--primary-color-500);
    font-weight: bold;
    text-align: center;
    margin: 20px 0
}

div.caixa-conteudo {
    box-sizing: border-box;
    position: relative;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    text-align: justify;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px var(--shadow-500);
    background: var(--secondary-color-800);
}
div.caixa-conteudo img{
    width: 400px;
    height: 400px;
}
div.caixa-conteudo2 {
    box-sizing: border-box;
    position: relative;
    width: 1200px;
    height: auto;
    margin: 0px auto;
    text-align: justify;
    padding: 0 20px;
}

div.caixa-conteudo h1.titulo {
    margin-top: 1em;
    color: var(--secondary-color-50)
}

div.caixa-conteudo p {
    font-size: 2rem;
    text-align: justify;
    margin: 2em 0 1em;
    padding: 20px;
    color: var(--secondary-color-50)
}

div.comofunciona {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background: var(--secondary-color-100);
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

div.comofunciona p, span {
    color: var(--secondary-color-800)
}

div.comofunciona .titulo{
    color: var(--secondary-color-900)
}
article.empresa{
    box-sizing: border-box;
    width: 45%;
    border-radius: 15px;
    margin-top: 1em;
    margin-left: 3em;
    padding: 10px;
    display: inline-block;
}

article.empresa p {
    text-align: justify;
    font-size: 1.5em;
    margin: 1em 0;
    float: left;
    
    
}
article.empresa li {
    margin-top: 10px;
    font-size: 1.5em;
    float: left;
}

img.image-left{
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

img.image-right{
    width: 460px;
    height: 460px;
    float: right;
    border-radius: 15px;
}

article.freelancer p{
    text-align: justify;
    font-size: 1.5em;
    margin: 1em 0;
}   

article.freelancer li {
    margin-top: 10px;
    font-size: 1.5em;
}

article.freelancer {
    box-sizing: border-box;
    width: 45%;
    border-radius: 15px;
    margin-top: 1em;
    margin-left: 3em;
    padding: 10px;
    display: inline-block;
    clear: both;
 
}

/* CSS "SOBRE NÓS" DO SITE */
div.sobrenos{
    width: 100%;
    background: var(--background-color);
    text-align: center;
    box-sizing: border-box;
    padding: 25px 0 50px;
    clear: both;
    font-size: 1em;
}
div.missao, div.visao, div.valores {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 25px 0 50px;
}

div.missao .titulo::after, 
div.visao .titulo::after, 
div.valores .titulo::after, 
div.sobrenos .titulo::after 
{
    display: block;
    content: '';
    width: 650px;
    height: 3px;
    background: currentColor;
    margin: 15px auto;
}

/* ANIMAÇÃO DO CONTEÚDO SOBRE NÓS */
.anime {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
    transition: .5s;
}

.anime-start {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* ANIMAÇÃO DO ICONE - SOBRE NÓS */
div.sobrenos a i {
    color: var(--secondary-color-900);
    margin: 40px;

    animation-duration: 5s; 
    animation-name: jump;
    animation-iteration-count: infinite;
    float: none;
}
@keyframes jump {
    0% { transform: translate(-50%, -50%);}
    50% { transform: translate(-50%, -150%); }
    100% { transform: translate(-50%, -50%);}
}

/* CSS DE CADASTRE-SE DO SITE */
div.cadastro {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}
div.cadastro p {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px; 
}
div.cadastro button {
    border: 1px solid var(--main-color);
    border-radius: 15px;
    padding: 10px;
    margin-top: 50px;
    background: radial-gradient(circle, rgba(158,56,176,1) 0%, rgba(122,32,156,1) 42%, rgba(109,0,255,1) 100%);
    color: #FFF;
    text-decoration: none;
    width: 200px;
    height: 60px;
    font-weight: bold;
    font-size: 1.5em
}
div.contratante, div.freelance {
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin-top: 4em;
    height: 400px;
    background-color: #FFF;
    box-shadow: 0px 0px 20px 0px rgb(177, 177, 177);
    
}
div.contratante {
    float: left;
    width: 50%;
    
}

.freelance {
    overflow: hidden;
    width: 50%;
    
}
/* .contratante:hover, .freelance:hover {
    /* fazer algo} */


/* CSS CATEGORIAS */
div.categorias {
    box-sizing: border-box;
    width: 1200px;
    height: auto;
    margin: 10px auto;
}


.container{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
    margin: 0 50px;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: var(--primary-color-400);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: var(--primary-color-700);
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: var(--secondary-color-50);
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: var(--secondary-color-50);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 0px var(--shadow-500);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: var(--primary-color-600);
    padding: 5px;
    border: 1px solid var(--primary-color-400);
}

.container .card .face.face2 .content a:hover{
    background: var(--primary-color-400);
    color: var(--secondary-color-50);
}


div.beneficio {
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 200px;
    margin: 10px 20px;
    clear: both;

}
.beneficio img {
    width: 150px;
    height: 150px;
}
.caption {
    display: block;
    font-size: 1.5em;
    margin-top: 5px;
}

.tb-conosco{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,193,222,1) 100%);
}

footer  {
    border-top: 1px solid var(--secondary-color-300);
    height: auto;
    width: 100%;
    background-color:var(--secondary-color-800);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}
.caixa-footer {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding: 10px
}
.footer-socialmedia{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.footer-socialmedia a i {
    margin-left: 15px;
    color: var(--primary-color-50)
}

.footer-freela, .footer-atendimento, .footer-institucional {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;  
}
.footer-freela a, .footer-atendimento a, .footer-institucional a
 {
    margin: 6px 0;
    color: var(--secondary-color-50);
    font-size: 14px;
    text-decoration: none;
}
.footer-downloads a {
    margin-left:10px;
}

.footer-title-name {
    font-weight: bold;
    color: var(--secondary-color-300);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-atendimento, .footer-institucional {
    margin-left: 50px;
}

.atendimento {
    background: var(--secondary-color-100);
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.atendimento-box{
    box-sizing: border-box;
    
    padding: 40px;
    width: 550px;
    border-radius: 10px;
    border: 2px solid var(--secondary-color-200 );
}

.atendimento-box h3 {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: var(--background-color)
}

.atendimento h4 {
    color: var(--secondary-color-800);
    font-size: 26px;
    font-weight: bold;
    margin-top: 24px;
}

.atendimento-box p {
    font-size: 20px;
    text-align: left;
    color: var(--background-color);
}

.atendimento-box button {
    margin-top: 24px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--secondary-color-300);
    background: none;
    color: var(--secondary-color-800);
    font-weight: bold;
    cursor: pointer;
}

.fa-whatsapp, .fa-comment {
    margin: 0 5px;
}

.atendimento-box-rev{
    box-sizing: border-box;
    background: var(--secondary-color-800);
    padding: 40px;
    width: 550px;
    border-radius: 10px;
    border: 2px solid var(--secondary-color-800);
}

.atendimento-box-rev h3 {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: var(--background-color)
}

.atendimento-box-rev h4 {
    color: var(--primary-color-100);
    font-size: 26px;
    font-weight: bold;
    margin-top: 24px;
}

.atendimento-box-rev p {
    font-size: 20px;
    text-align: left;
    color: var(--background-color);
}

.atendimento-box-rev button {
    margin-top: 24px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--primary-color-100);
    background: var(--primary-color-100);
    color: var(--secondary-color-900);
    font-weight: bold;
    cursor: pointer;
}
